.login{
    margin-left: 30%;
    margin-top: 100px;
}

.inputbox{
    display: block;
    margin: 25px;
    padding: 7px;
    width: 300px;
    border: 1px solid skyblue;
}

.appbutton{
    margin: 25px;
    padding: 10px;
    width: 150px;
    background-color: deepskyblue;
    border: 1px solid;
    cursor: pointer;
}