.inputbox{
    display: block;
    margin: 25px;
    padding: 7px;
    width: 300px;
    border: 1px solid skyblue;
}

.register{
    margin-left: 25px;
    padding: 10px;
    /* width: 150px; */
    /* background-color: skyblue; */
    /* border: 1px solid; */
    cursor: pointer;
    margin-block-start: 2.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 909px;
    margin-left: 544px;
    /* margin-left: auto; */
}

.appbutton{
    margin: 25px;
    padding: 10px;
    width: 150px;
    background-color: deepskyblue;
    border: 1px solid;
    cursor: pointer;
}